/* GENERAL */
* {
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    color: #0A3871;
    box-sizing: border-box;
    background-color: #F8e2aF;
    transition: width 2s, height 4s;
}
body {
    margin: 2%;
}
svg {
    width: 120px;
    height: 48px;
}
section {
    width: 72%;
    float: left;
    padding-left: 5%;
}
#info em, #info i {
    margin: 1%;
    font-size: small;
}
article {
    background-color: #E0AB76;
    margin-left: 3%;
    width: 25%;
    height: 710px;
    float: left;
    display: block;
    border-radius: 5%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
    color: #FFF8E7;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* SECTION */
#text-ingreso {
    width: 100%;
    height: 600px;
    border: none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
}
#info {
    display: block;
}
.button {
    display: flex;
    justify-content: space-between;
}
/* ARTICLE */
/*Aviso de no mensaje disponible*/
#aviso-salida-imagen {
    margin-top: 25%;
    background-color: #E0AB76;
    border-radius: 5%;
    padding: 0px 10px 0 10px;
    display: block; /*cambia a none*/
}
#munheco, .aviso-text, .aviso-text h4, .aviso-text p {
    background-color: #E0AB76;
    text-align: center;
    color: #FFF8E7;
}
.aviso-text h4 {
    font-size: large;
}
.aviso-text p {
    font-size:medium;
}
/*Mensaje disponible*/
#aviso-salida-texto {
    background-color: #E0AB76;
    border-radius: 6%;
    
    display: none; /*cambia a block*/
}
#aviso-salida-texto textarea {
    background-color: #E0AB76;
    color: #FFF8E7;
    width: 90%;
    height: 570px;
    margin: 5%;
    border: none;
}
.button-copiar {
    display: flex;
    justify-content: center;
    background-color: #E0AB76;
    border-radius: 100%;
    padding: 1%;
}

#copiar {
    display: none; /*cambia a block*/
}
/* BOTONES */
button {
    text-align: center;
    width: 300px;
    height: 60px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.button1 {
    background-color: #E0AB76;
    color: #FFF8E7;
}
.button1:hover {
    background-color: #D68E46;
}
.button2 {
    background-color: #FFF8E7;
}
.button2:hover {
    background-color: #E0AB76;
    color: #FFF8E7;
}
.button3 {
    background-color: #FFF8E7;
}
.button3:hover {
    background-color: #D68E46;
    color: #FFF8E7;
}
/* RESPONSIVE */
@media screen and (min-width: 775), (max-width: 1820px) {
    section {
        margin-top: 5%;
        width: 100%;
        padding: 0;
    }
    #text-ingreso {
        width: 100%;
    }
    article {
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-top: 3%;
        padding: 5%;
    }
    #aviso-salida-imagen {
        margin: 0%;
    }
    #munheco {
        display: none;
    }
    #copiar {
        width: 100%;
    }
}
@media screen and (min-width: 375), (max-width: 775px) {
    .button {
        display: block;
    }
    .button button {
        width: 100%;
        margin-top: 5%;
    }
}