/* GENERAL */
* {
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    color: #0A3871;
    box-sizing: border-box;
    background-color: #F8e2aF;
}
body {
    margin-top: 2%;;
    margin-left: 2%;
}
svg {
    width: 120px;
    height: 48px;
}
header {
    margin-bottom: 2%;
}
section {
    width: 75%;
    float: left;
    padding-left: 10%;
    display: block;
}
#info em, #info i {
    font-size: small;
}
article {
    background-color: #D68E46;
    width: 20%;
    height: 690px;
    float: left;
    display: block;
    border-radius: 5%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
}
footer {
    text-align: center;
    margin-top: 42%;
}
/* SECTION */
#text-ingreso {
    border: none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
}
.text-ingreso {
    height: 600px;
}
#info {
    display: block;
}
#desencriptar {
    margin-left: 41%;
}
/* ARTICLE */
.aviso-salida {
    margin-top: 25%;
    display: block;
    background-color: #D68E46;
    border-radius: 5%;
    padding: 0px 10px 0 10px;
}
#munheco, .aviso-salida h4, .aviso-salida p {
    background-color: #D68E46;
    text-align: center;
}
.aviso-salida h4 {
    font-size: large;
}
.aviso-salida p {
    font-size:medium;
}
.text-salida {
    display: none;
}
/* FOOTER */
/* BOTONES */
button {
    text-align: center;
    width: 300px;
    height: 60px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
.button1 {
    background-color: #E0AB76;
    color: #FFF8E7;
}
.button1:hover {
    background-color: #D68E46;
}
.button2 {
    background-color: #FFF8E7;
}
.button2:hover {
    background-color: #F8e2aF;
}
#copiar {
    margin: 8% 0% 0% 13%;
    display: none;
}